.heading
{
    font-size: 23px;
    width: 90%;
    margin: 5px;
    box-shadow:7px 7px 7px grey;
    background-color: rgb(236, 201, 30);
}
.note
{
    font-size: 15px;
    color: black;
}
.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid #194dad;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}